In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
churn_data = pd.read_csv('/content/churn_data.csv', encoding='latin-1')

In [3]:
churn_data.head()

    Acronyms                                           Descriptions
0  MOBILE_NUMBER                              Customer phone number
1      CIRCLE_ID  Telecom circle area to which the customer belo...
2            LOC           Local calls - within same telecom circle
3            STD             STD calls - outside the calling circle
4             IC                                     Incoming calls

In [4]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Acronyms      38 non-null     object
 1   Descriptions  38 non-null     object
dtypes: object(2)
memory usage: 740.0+ bytes

In [5]:
churn_data.isnull().sum()

Acronyms        0
Descriptions    0
dtype: int64

In [6]:
df = pd.read_csv('/content/telecom_churn_data.csv')

In [7]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0.0,1.0,1.0,1.0,NaN,968.0,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0.0,NaN,1.0,1.0,NaN,1006.0,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0.0,NaN,NaN,NaN,1.0,1103.0,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0.0,NaN,NaN,NaN,NaN,2491.0,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0.0,0.0,NaN,NaN,NaN,1526.0,0.0,0.0,0.00,0.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3972 entries, 0 to 3971
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(212), int64(2), object(12)
memory usage: 6.8+ MB

In [9]:
df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,3.972000e+03,3972.0,3939.0,3939.0,3939.0,3972.000000,3972.000000,3972.000000,3972.000000,3842.000000,...,3971.000000,1009.000000,1058.000000,1063.000000,1030.000000,3971.000000,3971.000000,3971.000000,3971.000000,3971.000000
mean,7.001218e+09,109.0,0.0,0.0,0.0,285.045121,278.942359,274.410348,257.626496,131.517657,...,0.086376,0.905847,0.906427,0.883349,0.869903,1238.247293,62.803505,63.215228,58.678753,2.952543
std,6.924414e+05,0.0,0.0,0.0,0.0,302.244325,318.959997,304.036897,293.650251,299.791531,...,0.967920,0.292186,0.291371,0.321155,0.336574,959.847119,227.596730,265.904705,234.435980,29.090606
min,7.000000e+09,109.0,0.0,0.0,0.0,-2041.228000,-2014.045000,-945.808000,-267.243000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000632e+09,109.0,0.0,0.0,0.0,95.540750,88.581750,80.990000,61.738000,7.760000,...,0.000000,1.000000,1.000000,1.000000,1.000000,475.500000,0.000000,0.000000,0.000000,0.000000
50%,7.001223e+09,109.0,0.0,0.0,0.0,203.154500,193.914000,189.894500,176.675500,35.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,879.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001811e+09,109.0,0.0,0.0,0.0,375.462750,367.937000,370.228000,352.587750,114.475000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1901.000000,0.000000,0.000000,0.000000,0.000000
max,7.002410e+09,109.0,0.0,0.0,0.0,3959.954000,6453.689000,3327.711000,3835.053000,6459.340000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4197.000000,3384.520000,5486.800000,4017.410000,1215.510000

In [10]:
df.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=226)

In [11]:
df.shape

(3972, 226)

In [12]:
df.isnull().sum()

mobile_number      0
circle_id          0
loc_og_t2o_mou    33
std_og_t2o_mou    33
loc_ic_t2o_mou    33
                  ..
aon                1
aug_vbc_3g         1
jul_vbc_3g         1
jun_vbc_3g         1
sep_vbc_3g         1
Length: 226, dtype: int64

**Convert Columns to Appropriate Formats
Numerical columns should be converted to float or int, and categorical columns should be converted to category or object.**

In [13]:
# Convert month-based KPI columns to numeric (they likely contain mixed data types)
num_cols = [col for col in df.columns if col.endswith(('.6', '.7', '.8', '.9'))]

# Convert numeric columns
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

# Convert categorical columns
categorical_cols = ["fb_user_6", "fb_user_7", "fb_user_8", "fb_user_9"]
df[categorical_cols] = df[categorical_cols].astype("category")

print(df.dtypes)

mobile_number       int64
circle_id           int64
loc_og_t2o_mou    float64
std_og_t2o_mou    float64
loc_ic_t2o_mou    float64
                   ...
aon               float64
aug_vbc_3g        float64
jul_vbc_3g        float64
jun_vbc_3g        float64
sep_vbc_3g        float64
Length: 226, dtype: object

In [18]:
X = df.drop(columns=['churn', 'mobile_number', 'circle_id'])  # Exclude target and identifier columns
y = df['churn']

In [26]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

In [14]:
# Fill missing values for numerical columns with median
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill missing values for categorical columns with mode
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [16]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/content/telecom_churn_data.csv")

# Identify recharge amount columns for June and July
recharge_cols = ["total_rech_amt_6", "total_rech_amt_7"]

# Ensure the recharge columns exist in the dataset
if all(col in df.columns for col in recharge_cols):

    # Compute the average recharge amount for June and July
    df["avg_rech_amt_good_phase"] = df[recharge_cols].mean(axis=1)

    # Compute the 70th percentile threshold
    X = df["avg_rech_amt_good_phase"].quantile(0.70)

    # Filter high-value customers
    df_high_value = df[df["avg_rech_amt_good_phase"] >= X]

    # Display summary
    print(f"70th Percentile Recharge Threshold: {X}")
    print(f"Number of High-Value Customers: {df_high_value.shape[0]}")

    # Save the filtered dataset
    df_high_value.to_csv("high_value_customers.csv", index=False)

else:
    print("Recharge amount columns not found in the dataset!")

70th Percentile Recharge Threshold: 370.0
Number of High-Value Customers: 9940

In [17]:
import pandas as pd

# Load the dataset
df = pd.read_csv("high_value_customers.csv")  # Ensure this contains only high-value customers

# Tag churners
df["churn"] = ((df["total_ic_mou_9"] == 0) &
               (df["total_og_mou_9"] == 0) &
               (df["vol_2g_mb_9"] == 0) &
               (df["vol_3g_mb_9"] == 0)).astype(int)

# Remove churn phase columns (all columns ending with '_9')
churn_phase_cols = [col for col in df.columns if col.endswith('_9')]
df.drop(columns=churn_phase_cols, inplace=True)

# Display summary
print(f"Number of churners: {df['churn'].sum()}")
print(f"Dataset shape after removing churn phase attributes: {df.shape}")

# Save the processed dataset
df.to_csv("filtered_telecom_data.csv", index=False)

Number of churners: 875
Dataset shape after removing churn phase attributes: (9940, 174)